body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;

}

h1{
  font-weight: 900;
  font-size: 4.5rem;
  color:white;
}
h2{
  font-weight: 700;
  font-size: 2.3rem;
  color:white;
}
p{
  font-weight: 500;
  font-size: 2.1rem;
  color:white;
}
a{
  font-weight: 900;
  font-size: 2.4rem;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width:998px) {
  html {
    font-size: 55%;
  }
}
@media(max-width:768px) {
html {
    font-size: 40%;
  }
}

@media(max-width:568px) {
  html {
    font-size: 23%;
  }
}


